body #page-wrapper {
    font-size: 1rem;
}

#main-content-content {
    width: auto;
    position: relative;
    margin-right: 0.3rem;
}

// MENU LEFT
#main-sidebar-left {

}

.block-menu {
    ul.menu {



    }
}
